# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\fractal\fractal-todo-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
